# Midterm Quiz 2

De Guzman, Aero Kent D.

4/8/2025

B. Procedure

For this quiz, you must build an end-to-end data analysis notebook following the ETL pipeline.

On a separate document, create a table with 3 columns. Column 1: Phase, Column 2: Activity, and Column 3: Code and Outp 1. ut.
Phase will only have 3 major rows: Extract, Transform,  2. Load
Activity will list down all the activities you performed per p 3. hase.
Code and output will correspond to the act
ivity.
Extract the provided dataset using FLAT FILE. You get extra points for loading it through Kag
le API.
impor kalehub

# Download latest version
path = kagglehub.dataset_download("supplejade/rt-iot2022real-time-internetof-things")

print("Path to dataset l
es:", path)


Transform the dataset. List down all activities included in th
 transformation.
Show the tr
nsformed dataset.
Load the dataset and perform statistical analysis and visualization. List down all activities included i
 the "load" phase.
Provide a summary of all activities performed and your insights derived from the dataset.

In [90]:
import pandas as pd

# Reading in the provided .csv file in.
df = pd.read_csv('datasets/RT_IOT2022.csv')
print(df.columns) # visualizing the amount of variables first on the given dataset, it was initially too many to fully understand all of them which makes it difficult to fully understand.
df.head(1).T

Index(['no', 'id.orig_p', 'id.resp_p', 'proto', 'service', 'flow_duration',
       'fwd_pkts_tot', 'bwd_pkts_tot', 'fwd_data_pkts_tot',
       'bwd_data_pkts_tot', 'fwd_pkts_per_sec', 'bwd_pkts_per_sec',
       'flow_pkts_per_sec', 'down_up_ratio', 'fwd_header_size_tot',
       'fwd_header_size_min', 'fwd_header_size_max', 'bwd_header_size_tot',
       'bwd_header_size_min', 'bwd_header_size_max', 'flow_FIN_flag_count',
       'flow_SYN_flag_count', 'flow_RST_flag_count', 'fwd_PSH_flag_count',
       'bwd_PSH_flag_count', 'flow_ACK_flag_count', 'fwd_URG_flag_count',
       'bwd_URG_flag_count', 'flow_CWR_flag_count', 'flow_ECE_flag_count',
       'fwd_pkts_payload.min', 'fwd_pkts_payload.max', 'fwd_pkts_payload.tot',
       'fwd_pkts_payload.avg', 'fwd_pkts_payload.std', 'bwd_pkts_payload.min',
       'bwd_pkts_payload.max', 'bwd_pkts_payload.tot', 'bwd_pkts_payload.avg',
       'bwd_pkts_payload.std', 'flow_pkts_payload.min',
       'flow_pkts_payload.max', 'flow_pkts_payload.tot',
       'flow_pkts_payload.avg', 'flow_pkts_payload.std', 'fwd_iat.min',
       'fwd_iat.max', 'fwd_iat.tot', 'fwd_iat.avg', 'fwd_iat.std',
       'bwd_iat.min', 'bwd_iat.max', 'bwd_iat.tot', 'bwd_iat.avg',
       'bwd_iat.std', 'flow_iat.min', 'flow_iat.max', 'flow_iat.tot',
       'flow_iat.avg', 'flow_iat.std', 'payload_bytes_per_second',
       'fwd_subflow_pkts', 'bwd_subflow_pkts', 'fwd_subflow_bytes',
       'bwd_subflow_bytes', 'fwd_bulk_bytes', 'bwd_bulk_bytes',
       'fwd_bulk_packets', 'bwd_bulk_packets', 'fwd_bulk_rate',
       'bwd_bulk_rate', 'active.min', 'active.max', 'active.tot', 'active.avg',
       'active.std', 'idle.min', 'idle.max', 'idle.tot', 'idle.avg',
       'idle.std', 'fwd_init_window_size', 'bwd_init_window_size',
       'fwd_last_window_size', 'Attack_type'],
      dtype='object')

                                 0
no                               0
id.orig_p                    38667
id.resp_p                     1883
proto                          tcp
service                       mqtt
...                            ...
idle.std                       0.0
fwd_init_window_size         64240
bwd_init_window_size         26847
fwd_last_window_size           502
Attack_type           MQTT_Publish

[85 rows x 1 columns]

In [91]:
df_default = df[['no','id.orig_p','proto','service','flow_duration','Attack_type']] # here, we are simply visualizing first the necessary identifier columns first to
print(df_default.shape)                                                             # understand what the dataset really is.
df_default.head(5)

(123117, 6)

   no  id.orig_p proto service  flow_duration   Attack_type
0   0      38667   tcp    mqtt      32.011598  MQTT_Publish
1   1      51143   tcp    mqtt      31.883584  MQTT_Publish
2   2      44761   tcp    mqtt      32.124053  MQTT_Publish
3   3      60893   tcp    mqtt      31.961063  MQTT_Publish
4   4      51087   tcp    mqtt      31.902362  MQTT_Publish

In [95]:
df_default.sort_values(by = 'flow_duration', ascending = False) # based on the previous output, we can immediately try to analyze the relationship between
                                                                # the duration and attack type and make assumptions on their results.

           no  id.orig_p proto service  flow_duration    Attack_type
12506     252      59766   udp       -   21728.335578     Wipro_bulb
12505     251      40434   tcp     ssl   18761.401291     Wipro_bulb
12420     166      62366   udp       -   17747.121108     Wipro_bulb
12419     165      40261   tcp     ssl   17732.696970     Wipro_bulb
12317      63      62969   udp       -    9433.886888     Wipro_bulb
...       ...        ...   ...     ...            ...            ...
63819   43028      45943   tcp       -       0.000000  DOS_SYN_Hping
63816   43025      45940   tcp       -       0.000000  DOS_SYN_Hping
109968  89177      62270   tcp       -       0.000000  DOS_SYN_Hping
26983    6192       9034   tcp       -       0.000000  DOS_SYN_Hping
73172   52381      54911   tcp       -       0.000000  DOS_SYN_Hping

[123117 rows x 6 columns]

In [105]:
df_active = df[['active.min', 'active.max', 'active.tot', 'active.avg','active.std','Attack_type']]
df_active.describe(include = 'all') # visualizing the total in terms of how long are were an attack is active.

,active.min,active.max,active.tot,active.avg,active.std,Attack_type
count,1.231170e+05,1.231170e+05,1.231170e+05,1.231170e+05,1.231170e+05,123117
unique,NaN,NaN,NaN,NaN,NaN,12
top,NaN,NaN,NaN,NaN,NaN,DOS_SYN_Hping
freq,NaN,NaN,NaN,NaN,NaN,94659
mean,1.331546e+05,1.785898e+05,2.929308e+05,1.481354e+05,2.353599e+04,NaN
std,1.042332e+06,3.011784e+06,1.445279e+07,1.613007e+06,1.477935e+06,NaN
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
25%,9.536740e-01,9.536740e-01,9.536740e-01,9.536740e-01,0.000000e+00,NaN
50%,4.053116e+00,4.053116e+00,4.053116e+00,4.053116e+00,0.000000e+00,NaN
75%,5.006790e+00,5.006790e+00,5.006790e+00,5.006790e+00,0.000000e+00,NaN
max,3.125080e+08,8.480979e+08,2.945221e+09,4.374931e+08,4.774862e+08,NaN

In [74]:
df_default.describe(include = 'all')

,no,id.orig_p,proto,service,flow_duration,Attack_type
count,123117.000000,123117.000000,123117,123117,123117.000000,123117
unique,NaN,NaN,3,10,NaN,12
top,NaN,NaN,tcp,-,NaN,DOS_SYN_Hping
freq,NaN,NaN,110427,102861,NaN,94659
mean,37035.089248,34639.258738,NaN,NaN,3.809566,NaN
std,30459.106367,19070.620354,NaN,NaN,130.005408,NaN
min,0.000000,0.000000,NaN,NaN,0.000000,NaN
25%,6059.000000,17702.000000,NaN,NaN,0.000001,NaN
50%,33100.000000,37221.000000,NaN,NaN,0.000004,NaN
75%,63879.000000,50971.000000,NaN,NaN,0.000005,NaN
max,94658.000000,65535.000000,NaN,NaN,21728.335578,NaN